:root[data-theme='light']{
    --main-color: #FF2D2D;
    --background-color: #FF5757;
    --secondary-color: #ffffff;
    --text-color: #ffffff;
    --footnote-color: rgba(0, 0, 0, 0.823);
    --grid: 1fr;
}
/*Darkmode*/
:root[data-theme='dark']{
    --main-color: #FF2D2D;
    --background-color: #FF5757;
    --secondary-color:#ffffff;
    --text-color: #ffffff;
    --footnote-color: rgba(0, 0, 0, 0.864);
    --grid: 1fr;
}